<router-outlet></router-outlet>

<div class="container">
  <h1 *ngIf="won" style="color: green">You Win!</h1>
  <h1 *ngIf="!won" style="color: red">Game Over</h1>

  <h2>Score: {{ score }}</h2>

  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <input
      type="text"
      id="name"
      placeholder="Enter Player Name"
      class="input"
      formControlName="username"
    />
  </form>

  <div>
    <button class="button" (click)="onSubmit()">
      <fa-icon class="nav-icon" [icon]="faTrophy"></fa-icon>Submit
    </button>
  </div>

  <br />

  <div>
    <button class="play-button" routerLink="/gameplay">
      <fa-icon class="nav-icon" [icon]="faPlay"></fa-icon>Play Again?
    </button>
  </div>
  <div>
    <button class="button" (click)="returnHome()" routerLink="/home">
      <fa-icon class="nav-icon" [icon]="faHome"></fa-icon>Home
    </button>
  </div>
</div>