.container {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.input {
    margin: 20px;
    width: 300px;
    height: 50px;
    text-align: center;
    border-radius: 20px;
    font-size: large;
    color: var(--text-color);
    background-color: var(--background-color);
    border-color: var(--border-color);
    border-style: solid;
}

button {
    margin: 10px;
    width: 200px;
    height: 50px;
    font-size: large;
    color: var(--text-color);
    background-color: var(--button-color);
    transition: background-color 0.3s;
    cursor: pointer;
}

button:hover {
    background-color: var(--button-hover-color);
}

.play-button {
    border-image: conic-gradient(from var(--angle), red, yellow, lime, aqua, blue, magenta, red) 1;
    animation: 3.5s spin linear infinite;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
  
@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}

.nav-icon {
    font-size: 20px;
    margin-right: 10px;
    filter: none;
}