:root {
  --background-color: white;
  --border-color: #282828;
  --button-color: lightgray;
  --button-hover-color: gray;
  --text-color: black;
  --icon-color: black;
  --icon-hover-color: #4cc1da;
  --icon-shadow: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.35));
  --table-color: #ddd;
}

.dark-theme {
  --background-color: #282828;
  --border-color: #4cc1da;
  --button-color: #575757;
  --button-hover-color: #717171;
  --text-color: white;
  --icon-color: #4cc1da;
  --icon-hover-color: white;
  --icon-shadow: none;
  --table-color: #4cc1da;
}

body {
  font-family: "Exo";
  font-weight: 700;
  font-style: italic;
  background-color: var(--background-color);
  color: var(--text-color);
}

button, input {
  font-family: "Overpass";
  font-weight: 500;
  font-style: normal;
}

td {
  font-family: "Overpass";
  font-weight: 300;
  font-style: normal;
}

.nav-icon {
  color: var(--icon-color);
  transition: color 0.3s ease;
  filter: var(--icon-shadow);
}

.nav-icon:hover {
  color: var(--icon-hover-color)
}
