:root {
  --background-color: white;
  --border-color: #282828;
  --button-color: lightgray;
  --button-hover-color: gray;
  --text-color: black;
  --icon-color: black;
  --icon-hover-color: #4cc1da;
}

.dark-theme {
  --background-color: #282828;
  --border-color: #4cc1da;
  --button-color: #575757;
  --button-hover-color: #717171;
  --text-color: white;
  --icon-color: #4cc1da;
  --icon-hover-color: white;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  background-color: var(--background-color);
  color: var(--text-color);
}

.nav-icon {
  color: var(--icon-color);
  transition: color 0.3s ease;
}

.nav-icon:hover {
  color: var(--icon-hover-color)
}
