<div class="title-text">
  <h1>Welcome to Who's Who!</h1>
  <h2>Choose a Genre to Play</h2>
</div>

<div class="selector-area">
  <div *ngIf="authLoading || configLoading">Loading...</div>
  <div *ngIf="!authLoading && !configLoading" class="custom-select">
    <div class="selected-option" (click)="toggleDropdown()">
      {{ selectedGenre || "Select a genre" }}
      <fa-icon
        [icon]="faCaretDown"
        [ngClass]="{'caret-up': dropdownOpen}"
        class="caret-icon"
      ></fa-icon>
    </div>
    <div class="options-list" *ngIf="dropdownOpen">
      <div
        *ngFor="let genre of genres"
        class="option"
        (click)="setGenre(genre.playlist_id); closeDropdown()"
      >
        {{ genre.name }}
      </div>
    </div>
  </div>
</div>

<div class="play-area">
  <button (click)="playGame()" class="play-button">
    <fa-icon class="nav-icon" [icon]="faPlay"></fa-icon>Play
  </button>
</div>

<app-leaders
  [title]="'Top 5'"
  [maxEntries]="5"
  [showSeeMore]="false"
></app-leaders>
