.title-text {
    text-align: center;
}

.selector-area {
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 20px;
}

.selector-box {
    font-family: "Overpass";
    background-color: var(--background-color);
    border-color: var(--border-color);
    color: var(--border-color);
    width: 250px;
    cursor: pointer;
}

.play-area {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 50px;
}

.play-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 50px;
    font-size: large;
    color: var(--text-color);
    background-color: var(--button-color);
    border-image: conic-gradient(from var(--angle), red, yellow, lime, aqua, blue, magenta, red) 1;
    animation: 3.5s spin linear infinite;
    transition: background-color 0.3s;
    cursor: pointer;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
  
@keyframes spin {
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;
    }
}

.play-button:hover {
    background-color: var(--button-hover-color);
}

.nav-icon {
    font-size: 20px;
    margin-right: 10px;
}