<div class="title-text">
  <h1>Welcome to Who's Who!</h1>
  <h2>Choose a Genre to Play</h2>
</div>

<div class="selector-area">
  <div *ngIf="authLoading || configLoading">Loading...</div>
  <div *ngIf="!authLoading && !configLoading">
 
    <select class="selector-box"
      [(ngModel)]="selectedPlaylistId"
      (ngModelChange)="setGenre($event)"
    >
      <option [value]=""></option>
      <option *ngFor="let genre of genres" [value]="genre.playlist_id">
        {{ genre.name }}
      </option>
    </select>
  </div>
</div>

<div class="play-area">
  <button (click)="playGame()" class="play-button">
    <fa-icon class="nav-icon" [icon]="faPlay"></fa-icon>Play
  </button>
</div>

<app-leaders
  [title]="'Top 5'"
  [maxEntries]="5"
  [showSeeMore]="false"
></app-leaders>
