.play-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 50px;
    font-size: large;
    background-color:lightgray;
    cursor: pointer;
}

.selector-box {
    width: 250px;
}

.nav-icon {
    color: black;
    font-size: 20px;
    margin-right: 10px;
}