<app-navigation></app-navigation>

<h1 style="text-align: center">Welcome to Who's Who!</h1>
<h2 style="text-align: center">Choose a Genre to Play</h2>

<div
  style="
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 20px;
  "
>
  <div *ngIf="authLoading || configLoading">Loading...</div>
  <div *ngIf="!authLoading && !configLoading">
 
    <select class="selector-box"
      style="cursor: pointer"
      [(ngModel)]="selectedGenre"
      (ngModelChange)="setGenre($event)"
    >
      <option [value]=""></option>
      <option *ngFor="let genre of genres" [value]="genre.playlist_id">
        {{ genre.name }}
      </option>
    </select>
  </div>
</div>

<div
  style="
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 50px;
  "
>
  <button (click)="playGame()" class="play-button">Play</button>
</div>

<app-leaders
  [title]="'Top 5'"
  [maxEntries]="5"
  [showSeeMore]="false"
></app-leaders>
