.title-text {
    text-align: center;
}

.selector-area {
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 20px;
  }
  
  .custom-select {
    width: 250px;
    position: relative;
    cursor: pointer;
    font-family: "Overpass";
    font-style: normal;
  }
  
  .selected-option {
    background-color: var(--button-color);
    border: 2px solid var(--border-color);
    color: var(--border-color);
    padding: 10px;
    text-align: center;
    /* border-radius: 4px; */
    transition: background-color 0.3s;
  }
  
  .selected-option:hover {
    background-color: var(--button-hover-color);
  }
  
  .options {
    position: absolute;
    width: 100%;
    background-color: var(--background-color);
    border: 2px solid var(--border-color);
    border-top: none;
    z-index: 10;
    max-height: 200px;
    overflow-y: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 4px 4px;
  }
  
  .option {
    padding: 5px;
    color: var(--border-color);
    transition: background-color 0.3s;
    text-align: center;
  }
  
  .option:hover {
    background-color: var(--button-hover-color);
  }

.play-area {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 50px;
}

.play-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 50px;
    font-size: large;
    color: var(--text-color);
    background-color: var(--button-color);
    border-image: conic-gradient(from var(--angle), red, yellow, lime, aqua, blue, magenta, red) 1;
    animation: 3.5s spin linear infinite;
    transition: background-color 0.3s;
    cursor: pointer;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
  
@keyframes spin {
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;
    }
}

.play-button:hover {
    background-color: var(--button-hover-color);
}

.nav-icon {
    font-size: 20px;
    margin-right: 10px;
    filter: none;
}