.nav-bar-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-bottom: 10px;
    height: 75px;
}

.title-container {
    flex: none;
}

.icon-container {
    position: absolute;
    right: 30px;
    display: flex;
    gap: 20px;
}

.nav-icon {
    color: black;
    font-size: 25px;
}