<router-outlet></router-outlet>
<div class="nav-bar-container">
  <div style="position: relative; align-items: center; justify-self: center">
    <h1>Who's Who</h1>
  </div>

  <div style="position: absolute; right: 0; padding-right: 75px">
    <a routerLink="/endgame" style="padding-right: 20px">
      <fa-icon
        style="color: black; font-size: 25px"
        [icon]="faWrench"
      ></fa-icon>
    </a>
    <a routerLink="/home" style="padding-right: 20px">
      <fa-icon style="color: black; font-size: 25px" [icon]="faHome"></fa-icon>
    </a>
    <a routerLink="/settings">
      <fa-icon style="color: black; font-size: 25px" [icon]="faCog"></fa-icon>
    </a>
  </div>
</div>
