
.gameplay-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  padding: 10px; 
  box-sizing: border-box;
}

img {
  width: 275px;
  height: 275px;
  margin-bottom: 10px;
  max-width: 80%;
}


.game-info {
  display: flex;
  justify-content: center;
  gap: 20px; 
  text-align: center;
}


.audio-controls {
  display: flex;
  justify-content: space-between;
  width: 250px; 
  margin: 10px 0;
}


.control-button {
  padding: 8px 16px; 
  font-size: 14px; 
  cursor: pointer;
  color: var(--text-color);
  background-color: var(--button-color);
  transition: background-color 0.3s;
  border: none;
  border-radius: 4px;
}

.control-button:hover {
  background-color: var(--button-hover-color);
}


.choices {
  display: flex;
  justify-content: center;
  gap: 10px; 
  width: 100%;
  flex-wrap: wrap; 
}

.choice-button {
  margin: 5px 0; 
  padding: 8px 16px;
  font-size: 14px; 
  cursor: pointer;
  color: var(--text-color);
  background-color: var(--button-color);
  transition: background-color 0.3s;
  border: none;
  border-radius: 4px;
  width: 150px;
}

.choice-button:hover {
  background-color: var(--button-hover-color);
}

.correct-answer-selected {
  background-color: #32CD32;
  border: 4px solid transparent;
  border-image: conic-gradient(from var(--angle), red, yellow, lime, aqua, blue, magenta, red) 1;
  animation: 3.5s spin linear infinite;
}

.correct-answer-not-selected {
  border: 4px solid transparent;
  border-image: conic-gradient(from var(--angle), red, yellow, lime, aqua, blue, magenta, red) 1;
  animation: 3.5s spin linear infinite;
}

.wrong-answer {
  background-color: red;
}

.faded {
  opacity: 0.5;
}

.disable-hover {
  pointer-events: none;
}

.disable-hover:hover {
  background-color: var(--button-color);
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
