
.gameplay-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  padding: 10px; 
  box-sizing: border-box;
}

img {
  width: 275px;
  height: 275px;
  margin-bottom: 10px;
  max-width: 80%;
}


.game-info {
  display: flex;
  justify-content: center;
  gap: 20px; 
  text-align: center;
}


.audio-controls {
  display: flex;
  justify-content: space-between;
  width: 250px; 
  margin: 10px 0;
}


.control-button {
  padding: 8px 16px; 
  font-size: 14px; 
  cursor: pointer;
  background-color: lightgray;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.control-button:hover {
  background-color: gray;
}


.choices {
  display: flex;
  justify-content: center;
  gap: 10px; 
  width: 100%;
  flex-wrap: wrap; 
}

.choice-button {
  margin: 5px 0; 
  padding: 8px 16px;
  font-size: 14px; 
  cursor: pointer;
  background-color: lightgray;
  border: none;
  border-radius: 4px;
  width: 150px;
}

.choice-button:hover {
  background-color: gray;
}


.feedback {
  margin-top: 10px; 
  font-size: 16px; 
  font-weight: bold;
  text-align: center;
}


.music-container {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 500px;
  height: 150px;
  background-color: lightgrey;
  margin-bottom: 50px; 
}


.btn-group {
  width: 200px; 
  height: 50px; 
  font-size: medium;
  background-color: lightgray;
  cursor: pointer;
  margin-bottom: 30px; 
}
