<div class="gameplay-container">
  <img
    [src]="image_url"
    alt=""
  />
  
  <div class="game-info">
    <p>Score <span class="game-values">{{ score }}</span></p>
    <p>Round <span class="game-values">{{ round }}</span></p>
    <p>Wrong Answers <span class="game-values">{{ wrongAnswers }}</span></p>
  </div>

  <div class="audio-controls">
    <button (click)="playSong()" class="control-button">
      <fa-icon [icon]="faPlayCircle"></fa-icon> Play
    </button>
    <button (click)="pauseSong()" class="control-button">
      <fa-icon [icon]="faPauseCircle"></fa-icon> Pause
    </button>
    <button (click)="stopSong()" class="control-button">
      <fa-icon [icon]="faStopCircle"></fa-icon> Stop
    </button>
  </div>

  <div class="slider-container">
    <fa-icon class="slider-icon" [icon]="faVolumeDown"></fa-icon>
      <input
        class="slider"
        id="volume"
        type="range"
        min="0"
        max="1"
        step="0.01"
        [(ngModel)]="volume"
        (input)="changeVolume(volume)"
      />
    <fa-icon class="slider-icon" [icon]="faVolumeUp"></fa-icon>
  </div>

  <h2>Who's the artist?</h2>

  <div class="choices">
    <button *ngFor="let artist of artists"
            (click)="submitAnswer(artist)"
            [ngClass]="{
              'correct-answer-selected': selectedAnswer && artist === correctArtist && selectedAnswer === artist,
              'correct-answer-not-selected': selectedAnswer && artist === correctArtist && selectedAnswer !== artist,
              'wrong-answer': selectedAnswer && artist !== correctArtist && selectedAnswer === artist,
              'faded': selectedAnswer && artist !== correctArtist && selectedAnswer !== artist,
              'disable-hover': answerSubmitted
            }"
            class="choice-button">
      {{ selectedAnswer === artist ? resultMessage : artist }}
    </button>
  </div>
</div>